.image {
    animation: all 1s ease-in-out infinite alternate;
}


/* elementos da imagem do index */
 
main.apresentation-image svg #setas{
    animation: setas 5s ease-in-out infinite alternate;
   
}
main.initial .apresentation-image svg #eye{
    animation: eye 3s linear infinite;
}

main.initial .apresentation-image svg #eye2{
    animation: eye2 3s linear infinite;
}

section.explications .card-blocks .image svg #line-1 {
        animation: line-1 0.8s ease-in infinite;
}

section.explications .card-blocks .image svg #line-2 {
    animation: line-2 0.8s ease-in infinite;
}

section.explications .card-blocks .image svg #line-3 {
    animation: line-3 0.8s ease-in infinite;
}

section.explications .card-blocks .image svg #line-4 {
    animation: line-4 0.8s ease-in infinite;
}

section.explications .card-blocks .image svg #line-5 {
    animation: line-5 0.8s ease-in infinite;
}

section.explications .card-blocks .image svg #line-6 {
    animation: line-6 0.8s ease-in infinite;
}

section.explications .card-blocks .image svg #line-7 {
    animation: line-7 0.8s ease-in infinite;
}

section.explications .card-blocks .image svg #line-8 {
    animation: line-8 0.8s ease-in infinite;
}

section.explications .card-blocks .image svg #line-9 {
    animation: line-9 0.8s ease-in infinite;
}

section.explications .card-blocks .image svg #line-10 {
    animation: line-10 0.8s ease-in infinite;
}

@keyframes setas {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(-5deg);
    }
}

@keyframes line-1 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes line-2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes line-3 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes line-4 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes line-5 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes line-6 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes line-7 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes line-8 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes line-9 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes line-10 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes eye {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes eye2 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}