<!DOCTYPE html>
<html lang="pt-br">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/listen.css">
  <title>Classificador de Componentes PCI</title>
  <link rel="stylesheet" href="/css/animations/load-animation.css">
</head>


<body>

  <div class="box">
    <h2>RESULTADOS OBTIDOS PELO CLASSIFICADOR DE COMPONENTES PCI</h2>

    <ul>
      <li>
     7 CAPACITORES ELETRÓLITICOS
      </li>

      <li>
        
      </li>

      <li>
        
      </li>

      <li>
        
      </li>

      <li>
        
      </li>
     
    </ul>
  </div>

  

    
</body>
</html>