<!DOCTYPE html>
<html lang="pt-br">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" href="/css/upload-file.css">
  <title>Neural Network</title>
  <link rel="shortcut icon" href="/img/logo-aba-html.png">
</head>


<body>

<header class="header">

<a href="/" class="logo"><i class="fab fa-neos"></i> Neural Network</a>

<nav class="navbar">
  <ul>
    <li><a href="/">home</a></li>
  </ul>
</nav>


</header>

<section id="home" class="home">

  <form  class="drop-zone" action="/upload" method="post" enctype="multipart/form-data">
    <div class="container">
      <div class="icon">
        <i  class="fas fa-cloud-upload-alt"></i>
      </div>
      <h3>Faça o upload da sua imagem</h3>
      <label for="file">Escolher arquivo &#187</label>
      <input id="file" type="file" name="avatar" multiple/>
    </div>
    <button class="btn">Enviar</button>
  </form>
    

<div class="fas fa-cog nut1"></div>
<div class="fas fa-cog nut2"></div>
<ul class="squares"></ul>
</section>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="/js/main.js"></script>
<script src="/js/script.js"></script>

  
</body>
</html>